<a href="https://colab.research.google.com/github/vedantdave77/Natural_Laguage_Processing/blob/master/Exploring_text_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NLP Basics: Exploring the dataset

### Read in text data

In [0]:
import pandas as pd

fullCorpus = pd.read_csv('SMSSpamCollection.tsv', sep='\t', header=None)

In [3]:
fullCorpus.columns = ['label', 'body_text']
fullCorpus.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

### Explore the dataset

In [9]:
# What is the shape of the dataset?
print("input data has {} rows and {} columns".format(len(fullCorpus),len(fullCorpus.columns)))

input data has 5568 rows and 2 columns

In [17]:
# How many spam/ham are there?
print('out of {} rows, {} are spam, {} are ham'.format(len(fullCorpus),
                                                       len(fullCorpus[fullCorpus['label'] =='spam']),
                                                      len(fullCorpus[fullCorpus['label'] =='ham'])))

out of 5568 rows, 746 are spam, 4822 are ham

In [19]:
# How much missing data is there?
print('Number of nulls in the label: {}'.format(fullCorpus['label'].isnull().sum()))
print('Number of nulls in the label: {}'.format(fullCorpus['body_text'].isnull().sum()))

Number of nulls in the label: 0
Number of nulls in the label: 0